@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
	color: #424242;
}
@media print {
	html, body {
		width: 210mm;
		height: 297mm;
	}
}
.header, .footer {
	height: 48mm;
}
@media screen {
	html, body {
		max-width: 1269px;
	}
}
h1 {
	font-size: 44px;
}
h2 {
	font-size: 38px;
}
h3 {
	font-size: 32px;
}
h4 {
	font-size: 26px;
}
h5 {
	font-size: 20px;
}
.page-break-before {
	page-break-before: always
}
.page-break-after {
	page-break-after: always
}
.page-break-inside-avoid {
	page-break-inside: avoid
}
.chart-title{
	color: #424242;
}
// Tables
.table-title {
	margin-bottom: 1.2rem;
	font-weight: 400;
	text-transform: uppercase;
	color: #d5b055;
}
.table-description {
	margin-bottom: 1rem;
	font-size: 20px;
	font-weight: 400;
}
.table-wrapper > div {
	position: relative;
	width: 100%;
	border-radius: inherit;
	overflow-x: auto;
	overflow-y: hidden;
	min-height: 0;
	& > div {
		position: relative;
		width: 100%;
		display: table!important;
	}
}

.rdt_Table {
	position: relative;
	box-sizing: border-box;
	//display: -webkit-box;
	//display: -webkit-flex;
	//display: -ms-flexbox;
	//display: flex;
	display: table!important;
	table-layout: fixed;
	//-webkit-flex-direction: column;
	//-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	height: 100%;
	max-width: 100%;
	color: rgba(0, 0, 0, 0.87);
	background-color: #FFFFFF;
}

.rdt_TableHead {
	//display: -webkit-box;
	//display: -webkit-flex;
	//display: -ms-flexbox;
	//display: flex;
	display: table!important;
	table-layout: fixed;
	width: 100%;
	color: rgba(0, 0, 0, 0.87);
	font-size: 12px;
	font-weight: 500;
}

.rdt_TableHeadRow {
	//display: -webkit-box;
	//display: -webkit-flex;
	//display: -ms-flexbox;
	//display: flex;
	display: table-row!important;
	table-layout: fixed;
	//-webkit-align-items: stretch;
	//-webkit-box-align: stretch;
	//-ms-flex-align: stretch;
	//align-items: stretch;
	width: 100%;
	background-color: #FFFFFF;
	height: 40px!important;
	border-bottom-width: 1px!important;
	border-bottom-color: rgba(0, 0, 0, .12)!important;
	border-bottom-style: solid!important;
}

.rdt_TableRow:nth-child(even) {
	background-color: #eeeded;
}
.rdt_TableCol {
	position: relative;
	//display: -webkit-box;
	//display: -webkit-flex;
	//display: -ms-flexbox;
	//display: flex;
	display: table-cell!important;
	//-webkit-align-items: center;
	//-webkit-box-align: center;
	//-ms-flex-align: center;
	padding: 5px 5px 0 5px!important;
	text-align: left!important;
	align-items: center!important;
	box-sizing: border-box;
	line-height: 20px!important;
	//padding-left: 16px;
	//padding-right: 16px;
	background-color: #666666;
	color: white;
}

.rdt_TableCol_Sortable {
	//display: -webkit-inline-flex;
	//display: -ms-inline-flexbox;
	//display: inline-flex;
	display: block!important;
	//-webkit-align-items: center;
	//-webkit-box-align: center;
	//-ms-flex-align: center;
	text-align: left;
	align-items: center;
	//-webkit-box-pack: inherit;
	//-webkit-justify-content: inherit;
	//-ms-flex-pack: inherit;
	justify-content: inherit;
	height: 100%;
	width: 100%;
	outline: none;
	//-webkit-user-select: none;
	//-moz-user-select: none;
	//-ms-user-select: none;
	user-select: none;
	overflow: hidden;
	& > div {
		line-height: 15px;
		font-weight: 400;
		overflow: hidden;
		white-space: pre-wrap;
		text-overflow: ellipsis;
	}
}

.rdt_TableBody {
	//display: -webkit-box;
	//display: -webkit-flex;
	//display: -ms-flexbox;
	//display: flex;
	display: table!important;
	table-layout: fixed;
	//-webkit-flex-direction: column;
	//-ms-flex-direction: column;
	//flex-direction: column;
	width: 100%;
	color: rgba(0,0,0,0.87)!important;
	font-size: 12px!important;
	font-weight: 500!important;
}
.rdt_TableRow {
	//display: -webkit-box;
	//display: -webkit-flex;
	//display: -ms-flexbox;
	//display: flex;
	display: table-row!important;
	//-webkit-align-items: stretch;
	//-webkit-box-align: stretch;
	//-ms-flex-align: stretch;
	align-items: stretch;
	//-webkit-align-content: stretch;
	//-ms-flex-line-pack: stretch;
	align-content: stretch;
	width: 100%;
	box-sizing: border-box;
	font-size: 13px!important;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.87);
	background-color: #FFFFFF;
	min-height: 48px!important;
}

.rdt_TableRow:not(:last-of-type) {
	border: 1px solid #0000001E!important;
}

.rdt_TableCell {
	position: relative;
	display: table-cell!important;
	font-weight: 600!important;
	padding: 0 5px!important;
	text-align: center;
	align-items: center;
	box-sizing: border-box;
	line-height: 22px!important;
	word-break: break-word;
}

.rdt_TableCell, .rdt_TableCol {
	//-webkit-box-flex: 1;
	//-webkit-flex-grow: 1;
	//-ms-flex-positive: 1;
	flex-grow: 1;
	//-webkit-flex-shrink: 0;
	//-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-flex-basis: 0;
	//-ms-flex-preferred-size: 0;
	flex-basis: 0;
	max-width: 100%;
	min-width: 100px;
}

//.rdt_TableCell div:first-child {
//	white-space: nowrap;
//	overflow: hidden;
//	text-overflow: ellipsis;
//}


.rdt_TableRow > [data-column-id="1"] {

}
.small-first-col .rdt_TableCol:first-child,
.small-first-col .rdt_TableCell:first-child {
	width: 40px!important;
	min-width: 40px!important;
	border-right: 1px solid #c69214;
	border-bottom: 1px solid #c69214;
	//padding: 0!important;
}
.red-last-col .rdt_TableCol:last-child,
.red-last-col .rdt_TableCell:last-child {
	background-color: #fda6a6;
	color: white;
	border: 1px solid #ff7474;
}
.rdt_TableCol {
	border-right: 1px solid #c69214;
	border-bottom: 1px solid #c69214;
}
.rdt_TableCell {
	border-right: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
}
